<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Модуль №3. Что еще есть во Vue</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div v-cloak id="app">
      <div>
        <h1>Directives</h1>

        <h2 v-text="title"></h2>

        <h2 v-once="title" v-text="title"></h2>
        <button @click="title = 'New title'">Update title</button>

        <h2 v-pre>{{ code }}</h2>

        <h2 v-html="myHtml"></h2>
      </div>

      <div v-if="items.length" v-for="(item, idx) in items" :key="item">
        <div @click="items.splice(idx, 1)">
          <div>{{ item }} {{ idx }}</div>
          <input type="text" @click.stop>
        </div>
      </div>
      <div v-else>Нет элементов</div>
      <div v-show="!items.length">v-show</div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
  </body>
</html>
